<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.MyMapper">
    <select id="selectOneUnusedLink" resultType="String">
        select link
        from unprocessed_links
        limit 1
    </select>
    <delete id="deleteLink" parameterType="String">
        delete
        from unprocessed_links
        where link = #{link}
    </delete>
    <insert id="insertNews"
            parameterType="com.github.zml59.Elasticsearch.News">
        insert into news(title, content, url, create_at, update_at)
        values (#{title}, #{content}, #{url}, now(), now())
    </insert>
    <select id="isLinkUsed" parameterType="String" resultType="int">
        select count(link)
        from processed_links
        where link = #{link}
    </select>
    <insert id="insertLink"
            parameterType="HashMap">
        insert into
        <choose>
            <when test="tableName == 'processed_links'">
                processed_links
            </when>
            <otherwise>
                unprocessed_links
            </otherwise>
        </choose>
        (link) values ( #{link} )
    </insert>
</mapper>